:root {
  --primary-color: #59c4bd;
}

.App {
  text-align: center;
  color: white;
}

.weather-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
  min-height: 100vh;
  min-width: 100vw;
}
